.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow-y: auto;
  padding: 20px;
}

.modalContent {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
  border: 4px solid rgb(47, 129, 131);
  max-height: 80vh;
  overflow-y: auto;
}

.modalContent h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 1.4em;
}

.modalContent textarea {
  width: 100%;
  min-height: 80px;
  margin-top: 6px;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: inherit;
}

.modalActions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2em;
}

.modalContent label:hover {
  color: rgb(47, 129, 131);
  transition: color 0.2s;
}

.submitButton {
  background-color: rgb(47, 129, 131);
  color: white;
  border: 3px solid rgb(47, 129, 131);
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 12px 7px 12px;
  margin: 20px;
  cursor: pointer;
}

.submitButton:hover {
  border: 3px solid rgb(39, 109, 110);
  background-color: rgb(39, 109, 110);
}

.cancelButton {
  background-color: transparent;
  color: #333;
  border: 3px solid rgb(47, 129, 131);
  color: rgb(47, 129, 131);
  font-weight: 600;
  padding: 5px 12px 7px 12px;
  border-radius: 4px;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}

.cancelButton:hover {
  border: 3px solid rgb(39, 109, 110);
  color: rgb(39, 109, 110);
  background-color: #cccccc98;
}


@media (max-width: 600px) {
  .modalContent {
    padding: 24px;
    border-width: 3px;
  }

  .modalContent h3 {
    font-size: 1.2em;
  }

  .modalContent textarea {
    min-height: 60px;
  }

}