
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
}

.cardTitle {
  display: flex;
  align-items: center;
  
  h3 {
    margin: 0;
    font-size: 1.1em;
    color: #055a57;
  }
}