
.headerTitleWrapper {
  width: 96%;
  justify-self: center;
  height: 73px;
  background-color: #eaf5f5;
  margin-bottom: 5rem;
  transform: translateY(-50px);
}

.headerTitleContainer {
  padding: 12px 20px;

  p {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    color: #1c4145;
  }
}

.headerImg {
  width: 100%;
  height: 228px;
  border-radius: 3px;
  object-fit: cover;
  display: block;
}
