.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow-y: auto;
  padding: 20px;
}

.modalContent {
  background: #fff;
  padding: 20px 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
  border: 4px solid rgb(47, 129, 131);

  h2 {
    text-align: center;
    color: rgb(47, 129, 131);
    margin: 2rem;
  }

  li {
    list-style: none;
    margin: 4px 0;
  }
}

.closeButtonContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.closeButton {
  position: absolute;
  top: -10px;
  right: -10px;
  background: none;
  border: none;
  font-size: 3rem;
  color: #444;

  &:hover {
    cursor: pointer;
    color: rgb(47, 129, 131);
  }
}

.attendeeList {
  margin-top: 10px;
  padding: 0;
}

.attendeesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 10px;

  &.cols1 {
    grid-template-columns: repeat(1, 1fr);
  }

  &.cols2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.cols3 {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr !important;
  }
}

.attendeesColumn {
  padding: 8px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    text-align: center;
    padding: 6px 0;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }
}

.carpoolGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
  max-height: 70vh;
  overflow-y: auto;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.carpoolColumn {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

  h4 {
    color: rgb(47, 129, 131);
    margin-bottom: 25px;
    font-size: 1rem;
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    text-align: center;
    padding: 4px 0;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }
}

.empty {
  text-align: center;
  color: #888;
  font-style: italic;
}
