.budgetContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.budgetWrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;

    &:hover {
      background-color: #f8f9fa;
    }
}

.budgetInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.budgetYearWrapper {
  margin-bottom: 16px;
  justify-self: center;

  label {
    margin-right: 8px;
    font-weight: 600;
  }

  select {
    padding: 6px;
    border-radius: 4px;
  }
}

.budgetCard {
  width: 96%;
  justify-self: center;

  h2 {
    margin: 0 0 15px 0;
    font-size: 18px;
    color: #323130;
  }

  p {
    margin: 0;
    color: #666;
  }
}

.budgetGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.budgetItem {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #f4fafa;
  border-radius: 4px;
  border: 1px solid #e1e5e9;
}

.budgetLabel {
  font-size: 13px;
  font-weight: 600;
  color: #666;
  margin-bottom: 5px;
}

.budgetAmount {
  font-size: 24px;
  font-weight: 700;
  color: rgb(47, 129, 131);
}

.donutPercentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}

.budgetDetailsWrapper {
  position: fixed; 
  inset: 0; 
  background: rgba(0,0,0,0.45); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  z-index: 9999
}

.budgetDetailsContainer {
  background: #fff; 
  padding: 20px; 
  border-radius: 4px; 
  width: 90%; 
  max-width: 900; 
  max-height: 85%; 
  overflow: auto
}

.budgetDetailsTitleWrapper {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 12px;
}

.budgetDetailsTable {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  td {
    padding: 8px;
    border-bottom: 1px solid #f1f1f1;
  }
}